<footer id="integrantes">
    <h1 class="text-center">
        LORENZA'S COFFEE INTEGRANTES
    </h1>
    <div class="col-md-6 mx-auto">
        <ul class="integrantes">
            <li>Acua Jimenez York-am Malkenu.</li>
            <li>Barrios Mendez Abigail.</li>
            <li>Bustamante Valderrabano Melissa Mónica </li>
            <li>Caballero Monroy Gabriel</li>
            <li>Carrasco Castillo Eduardo</li>
            <li>Cruz Rodríguez Karla Edith</li>
            <li>Durán Cruz Abel Ignacio</li>
            <li>Salgado Sandoval Alfonso.</li>

        </ul>
    </div>
</footer>