<nav>
  <ul>
    <div>
      <li>
        <a href="#descargas">
          <i class="fa-solid fa-download"></i>
          <p>Descargas</p>
        </a>
      </li>
      <li>
        <a href="#ConfiguracionBackend">
          <i class="fa-brands fa-node-js"></i>
          <p>Backend Configuracion</p>
        </a>
      </li>
      <li>
        <a href="#ConfiguracionFrontend">
          <i class="fa-brands fa-html5"></i>
          <p>Frontend Configuracion</p>
        </a>
      </li>

      <li>
        <a href="#apiventas">
          <i class="fa-solid fa-network-wired"></i>
          <p>API Ventas</p>
        </a>
      </li>
      <li>
        <a href="#apiproductos">
          <i class="fa-solid fa-network-wired"></i>
          <p>API Productos</p>
        </a>
      </li>
      <li>
        <a href="#apiinsumos">
          <i class="fa-solid fa-network-wired"></i>
          <p>API Insumos</p>
        </a>
      </li>
      <li>
        <a href="#apireportes">
          <i class="fa-solid fa-network-wired"></i>
          <p>API reportes</p>
        </a>
      </li>
      <li>
        <a href="#apiordenescompra">
          <i class="fa-solid fa-network-wired"></i>
          <p>API ordenes compra</p>
        </a>
      </li>
      <li>
        <a href="#apiusuarios">
          <i class="fa-solid fa-network-wired"></i>
          <p>API USUARIOS</p>
        </a>
      </li>

      <li>
        <a href="#integrantes">
          <i class="fa-solid fa-network-wired"></i>
          <p>Integrantes</p>
        </a>
      </li>
      

    </div>
  </ul>
</nav>